@font-face {
	font-family: Play;
	src: url(Play-Regular.ttf);
}
@font-face {
	font-family: Play;
	src: url(Play-Bold.ttf);
	font-weight: bold;
}

a.btn.btn-primary.eduid-login {
    margin-bottom: 20px;
}

span.eduid-login::before {
    content: "";
    width: 50px;
    height: 17px;
    display: inline-block;
    vertical-align: text-bottom;
    line-height: 20px;
    margin-right: 5px;
    background-size: 100% auto;
    background: url(eduid_button_belepes_normal.png) no-repeat center;
}

ul.nav li.eduid-login {
	width: 130px;
}

ul.nav li.eduid-login a.nav-link {
	background: url(eduid_button_empty_normal.png) no-repeat center;
	padding-left: 60px;
	margin-left: 4px;
	margin-right: 4px;
	color: white;
	font-family: Play,sans-serif;
	font-size: 12px;
	font-weight: bold;
}
